*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.assets
DB.lo1
DB.loo
KeyFallout.jks
app/src/main/assets/Database/FalloutDatabase.db
app/src/main/assets/Database/Abilities.xlsx
